/* Assign full width inputs*/  
input[type=text],  
input[type=email] {  
    width: 100%;  
    padding: 12px 40px;  
    margin: 8px 0;  
    display: inline-block;  
    border: 1px solid #ccc;  
    box-sizing: border-box;  
}  
  
/* Set a style for the buttons*/  
button {  
    background-color: #4CAF50;  
    color: white;  
    padding: 14px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
}  

/* Set a hover effect for the button*/  
button:hover {  
    opacity: 0.8;  
}  

/* Set extra style for the cancel button*/  
.container {  
    padding: 16px;  
}  

.fontuser { 
    position: relative; 
} 
  
.fontuser i{ 
    position: absolute; 
    left: 15px; 
    top: 58px; 
    color: gray; 
} 
  
.fontpassword { 
    position: relative; 
} 
  
.fontpassword i{ 
    position: absolute; 
    left: 15px; 
    top: 40px; 
    color: gray; 
} 